#header
	:background-color rgba(76, 76, 139, 0.7)
	:display block
	:height 6%
	:margin-bottom 5.75%
	:padding 4px 0px 0px 12px
	:position relative
	:text-align left
	:width 66%
	:z-index 1
	+border-top-right-radius(1em)
	+border-bottom-right-radius(12em)
	&:hover
		@include box-shadow(rgba(20, 20, 20, 1.0) 0px 0px 20px)
	p
		:color white
		:font 25px helvetica nueve, clean, sans-serif

#main
	:background-color rgba(200, 200, 200, .7)
	:display block
	:width 70em
	:position relative
	:height 35em
	:margin 0em auto 0em auto
	+border-top-left-radius(12em)
	+border-top-right-radius(2em)
	+border-bottom-left-radius(1em)
	+border-bottom-right-radius(1em)

.image
	@include box-shadow(rgba(20, 20, 20, 1.0) 0px 0px 20px)
	:background-color rgba(20,20,20,0.6)
	:float left
	:height 35em
	:position relative
	:width 45%
	+border-top-left-radius(12em)
	img
		:width 100%
		:height 100%
		+border-top-left-radius(12em)

#content
	@include box-shadow(rgba(20, 20, 20, 0.6) -1px -1px 20px)
	:background-color rgba(9, 10, 92, 0.5)
	:display block
	:float right
	:height 35em
	:position relative
	:width 55%
	p
		:font
			:family Quicksand_Light-webfont
			:size 18px
		:padding
			:top 2%
			:right 5%
			:left 5%
	+border-top-right-radius(2em)
	&:hover
		@include box-shadow(rgba(20, 20, 20, 1.0) 0px 0px 20px)

.navigation
	:color rgb(240, 240, 240)
	:height 5%
	:margin 32em 0% 0% 30%
	:position absolute
	a
		:background-color rgba(90, 85, 200, 0.6)
		:color rgb(240, 240, 240)
		:border solid 1px rgba(20, 15, 200, 0.4)
		:padding 5px
		+border-radius(0.5em)
		&:hover
			@include box-shadow(rgba(20, 15, 200, 0.3) -1px -1px 20px)
			:background-color rgba(90, 85, 200, 0.7)
			:border solid 1px rgba(20, 15, 200, 0.2)
			:color white
