@import compass/css3
@import compass/reset
@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/gradient
@import compass/css3/text-shadow
@import compass/css3/transform
@import compass/css3/transition
@import partials/default
	
*
	:margin 0
	:padding 0

html
	:height 100%
	:width 100%

body
	:background-color white
	:font 100% ", Helvetica Neue", Helvetica, "Lucida Grande", Verdana, Georgia, Sans-serif
	:height 100%
	:width 100%
	:line-height 1.625em
	:min-width 60em
	:-webkit-font-smoothing antialiased

h1, #title p,
	:color white
	:float left
	:font
		:family adobe-garamond-pro
		:size 36px
		:weight bold 
	:letter-spacing 1px
	:padding-left 11px
	
h2		
	:color rgb (20, 20, 20)
	:font
		:family adobe-garamond-pro
		:size 24px
		:weight bold
	:padding-bottom 0.4em


a	
	:background-color rgb(20, 20, 20)
	:border-radius 10px
	:color rgb(255, 255, 255)
	:font
		:family adobe-garamond-pro
		:size 20px
	:padding 10px
	:text-decoration underline
	&:hover
		:color rgb(200, 200, 200)
	&:active
		:color rgb(160, 160, 160)
	
p
	:font-family chaparral-pro
	:color rgb(40, 40, 40)
	:font-size 20px
	:padding-bottom 15px
	
img
	:border-radius 20px
	:box-shadow 5px 10px rgba(0, 0, 0, 0.6)
	
#footer p
	:color white
	:font
		:family adobe-garamond-pro
		:size 22px
