@import compass/css3
@import compass/reset
@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/gradient
@import compass/css3/text-shadow
@import compass/css3/transform
@import compass/css3/transition
@import partials/default
@import lib/Quicksand_Light
	
*
	:margin 0
	:padding 0

html
	:height 100%

body
	:background
		:color rgb(18, 12, 90)
	:color rgb(230, 230, 230)
	:font 100% ", Helvetica Neue", Helvetica, "Lucida Grande", Verdana, Georgia, Sans-serif
	:height 100%
	:line-height 1.625em
	:min-width 60em
	:text-align center

h1
	:font
		:family Quicksand_Light
		:size 32px
	:padding
		:top 0.75em
		:bottom 0.25em

a		
	:color rgb(230, 230, 230)
	:text-decoration none
	
p