<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/stylesheets/screen.css?06.23" type="text/css" media="screen, projection" />
	<link rel="icon" href="/favicon.ico" />
	<script type="text/javascript" src="/javascripts/photoshuffler.js"></script>
</head>
<body id="{{ page.body_id }}">
<div>
	<a href="/"><span id="header">Amax Services, LLC</span></a>
</div>

<div id="main">
	<div id="left">
		<div class="image" id="{{ page.body_id }}-DivPic">
			<img id="{{ page.body_id }}-img" src="images/green.jpg" width="1120" height="560"  alt="none" />
		</div>
	</div>
	<div id="content">
		{{ content }}
	</div>
</div>

</body>
</html>
