<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/stylesheets/screen.css?11.09" type="text/css" media="screen, projection" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<script type="text/javascript" src="/javascripts/photoshuffler.js"></script>
</head>
<body id="{{ page.body_id }}">
<a href="/"><div id="header"><p>Amax Services, LLC</p></div></a>

<div id="main">
	<div class="image" id="{{ page.body_id }}-DivPic">
		<img id="{{ page.body_id }}-img" src="http://static.flickr.com/56/149047438_fabcf2f7ce.jpg?v=0" />
	</div>
	<div id="content">
		{{ content }}
	</div>
</div>

</body>
</html>
